[submodule "source/search_engine_ui"]
	path = source/search_engine_ui
	url = https://github.com/Deron-D/search_engine_ui.git
[submodule "src/search_engine_ui"]
	path = src/search_engine_ui
	url = git@51.250.92.22:search_engine/search_engine_ui.git
[submodule "src/search_engine_crawler"]
	path = src/search_engine_crawler
	url = git@51.250.92.22:search_engine/search_engine_crawler.git
