[submodule "source/search_engine_crawler"]
	path = source/search_engine_crawler
	url = https://github.com/express42/search_engine_crawler
[submodule "source/search_engine_ui"]
	path = source/search_engine_ui
	url = https://github.com/express42/search_engine_ui
